.popup {
  //   background-color: rgb(221, 101, 101);
  //   width: max-content;

  div.card {
    width: 15rem;
    height: 15rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    label {
      width: max-content;
      color: tomato;
      font-size: 13px;
      border-bottom: 0.01rem solid tomato;
    }
    p {
      font-size: 0.9rem;
    }
    div.stars {
      .star {
        color: gold;
      }
    }
    span.username {
      font-size: 0.9rem;
    }
    span.date {
      font-size: 0.7rem;
    }
  }
}
