.popup {
  //   background-color: rgb(221, 101, 101);
  //   width: max-content;

  div.card {
    width: 15rem;
    height: 15rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      font-size: 0.9rem;
    }
    div.stars {
      .star {
        color: gold;
      }
    }
    span.username {
      font-size: 0.9rem;
    }
    span.date {
      font-size: 0.7rem;
    }
  }
}
label {
  width: max-content;
  color: tomato;
  font-size: 0.9rem;
  border-bottom: 0.01rem solid tomato;
}
div.formDiv {
  // background-color: rgb(211, 9, 9);

  form {
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);

    input,
    textarea {
      border: none;
      border-bottom: 1px solid gray;
    }
    input::placeholder,
    textarea::placeholder {
      font-size: 12px;
      color: rgb(185, 184, 184);
    }
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    .submitButton {
      border: none;
      padding: 5px;
      border-radius: 5px;
      color: white;
      background-color: tomato;
      cursor: pointer;
    }
  }
}

.btnGroup,
#logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
